@model MMSApp.Models.ViewModels.FullCustomerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@section Styles {
    <!-- SELECT2 CSS -->
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" asp-append-version="true" />
}




<div id="wizard">

    <section>
        <form asp-action="index" method="post" class="card">
            <div class="card-header">
                <h3 class="card-title">پنل اطلاعات شخصی</h3>
            </div>
            <div class="card-body ">
                <div class="form-group">
                    <label asp-for="MainPerson.PersonTypeId" class="form-label"></label>
                    <select asp-for="MainPerson.PersonTypeId" name="personType" class="form-control select2" data-placeholder="Choose one (with optgroup)">
                        <option value="TRU">حقیقی</option>
                        <option value="LEG">حقوقی</option>
                        <option value="SUB">اتباع</option>
                    </select>
                </div>


                <!-- برای حقیقی -->
                <partial name="PartialViews/TruePerson" model="Model.MainPerson" />

                <!-- برای حقوقی -->
                <div class="row"></div>

                <!-- برای اتباع -->
                <div class="row"></div>

            </div>
        </form>
    </section>


</div>




@section Scripts {
    <script>

        var s = document.getElementsByName('personType')[0];

        s.addEventListener("change", changeOrg);

        function changeOrg() {
            var value = s.options[s.selectedIndex].value;
            console.log(value);
        }

        //on page load
        changeOrg();
    </script>


    <!-- BOOTSTRAP-DATERANGEPICKER JS -->
    <script src="~/plugins/bootstrap-daterangepicker/moment.min.js" asp-append-version="true"></script>
    <script src="~/plugins/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>

    <!-- TIMEPICKER JS -->
    <script src="~/plugins/time-picker/jquery.timepicker.js" asp-append-version="true"></script>
    <script src="~/plugins/time-picker/toggles.min.js" asp-append-version="true"></script>

    <!-- DATEPICKER JS -->
    <script src="~/plugins/input-mask/jquery.maskedinput.js" asp-append-version="true"></script>


    <!-- FORMELEMENTS JS -->
    <script src="~/js/form-elements.js" asp-append-version="true"></script>

}