@model MMSApp.Models.ViewModels.FullCustomerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@section Styles {
    <!-- SELECT2 CSS -->
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" asp-append-version="true" />
}




<div id="wizard">

    <section>
        <form asp-action="index" method="post" class="card">
            <div class="card-header">
                <h3 class="card-title">پنل اطلاعات شخصی</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="MainPerson.PersonTypeId" class="form-label"></label>
                    <select asp-for="MainPerson.PersonTypeId" class="form-control select2 person_type">
                        <option selected="selected" value="1">حقیقی</option>
                        <option value="2">حقوقی</option>
                        <option value="3">اتباع</option>
                    </select>
                </div>



                @*     <!-- برای حقیقی -->
                <partial name="PartialViews/TruePerson" model="Model.MainPerson" />*@
                <!-- برای حقوقی -->
                <partial name="PartialViews/LegalPerson" model="Model.MainPerson" />
                <!-- برای اتباع -->
                <partial name="PartialViews/SubPerson" model="Model.MainPerson" />

            </div>
        </form>
    </section>


</div>




@section Scripts {

    <script>

        $(document).ready(function () {
            $("select.person_type").change(function () {
                const truePersonPage = `<partial name="PartialViews/TruePerson" model="Model.MainPerson" / >`;
                const legalPersonPage = `<partial name="PartialViews/LegalPerson" model="Model.MainPerson" / >`;
                const subPersonPage = `<partial name="PartialViews/SubjectPerson" model="Model.MainPerson" / >`;
                var selectedPersonType = $(this).children("option:selected").val();

                if (selectedPersonType === "1") {
                    $('#myTag').replaceWith(truePersonPage);
                }
                else if (selectedPersonType === "2") {

                } else {

                }

            });
        });
    </script>


    <!-- BOOTSTRAP-DATERANGEPICKER JS -->
    <script src="~/plugins/bootstrap-daterangepicker/moment.min.js" asp-append-version="true"></script>
    <script src="~/plugins/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>

    <!-- TIMEPICKER JS -->
    <script src="~/plugins/time-picker/jquery.timepicker.js" asp-append-version="true"></script>
    <script src="~/plugins/time-picker/toggles.min.js" asp-append-version="true"></script>

    <!-- DATEPICKER JS -->
    <script src="~/plugins/input-mask/jquery.maskedinput.js" asp-append-version="true"></script>

    <!-- FORMELEMENTS JS -->
    <script src="~/js/form-elements.js" asp-append-version="true"></script>

}