@model MMSApp.Models.ViewModels.CustomerManagerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {



    <!--BOOTSTRAP-DATERANGEPICKER CSS-->
    <link rel="stylesheet" href="~/plugins/bootstrap-daterangepicker/daterangepicker.css" asp-append-version="true" />

    <!-- TIME PICKER CSS -->
    <link href="~/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" asp-append-version="true" />

    <!-- DATE PICKER CSS -->
    <link href="~/plugins/date-picker/spectrum.css" rel="stylesheet" asp-append-version="true" />

    <style>

        .select2-selection__rendered, .selection {
            display: none;
        }
    </style>
}

@*@Html.DropDownList("Countries", (IEnumerable
        <SelectListItem>)Model.Countries);*@



<div id="wizard">

    <section>
        <form method="post" class="card">
            <div class="card-header">
                <h3 class="card-title">پنل اطلاعات شخصی</h3>
            </div>
            <div class="card-body ">


                <div class="form-group">
                    <label class="form-label">
                        انتخاب نوع مشتری
                    </label>
                    <select name="personType" class="form-control select2" data-placeholder="Choose one (with optgroup)">
                        <option value="TRU">حقیقی</option>
                        <option value="LEG">حقوقی</option>
                        <option value="SUB">اتباع</option>
                    </select>

                </div>

                <!-- برای حقیقی -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label"> کد ملی</label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: 4711046003">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">ملیت</label>
                            <select name="country" id="select-countries" class="form-control select2">
                                >
                                @foreach (var country in Model.Countries)
                                {
                                    <option value="@country">@country.PersianName</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label"> نام فارسی</label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: علی">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label"> نام لاتین</label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: ali">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">  نام خانوادگی فارسی</label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: مردانی">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                نام خانوادگی لاتین
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: mardani">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                نام پدر فارسی
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: رضا">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                نام پدر لاتین
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: reza">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                محل تولد
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: تهران">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                محل صدور
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: تهران">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label"> تاریخ تولد</label>
                        <input class="form-control fc-datepicker initial-value-type-gregorian-example" placeholder="MM/DD/YYYY" type="text">

                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label">جنسیت</label>
                        <select name="country" id="select-countries" class="form-control select2 ">
                            >
                            <option value="male">مرد</option>
                            <option value="female">زن</option>

                        </select>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                کد پستی
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: 1908699419">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label">مدرک تحصیلی</label>
                        <select name="country" id="select-countries" class="form-control select2 ">
                            >
                            <option value="دکتری">دکتری</option>
                            <option value="دیپلم">دیپلم</option>
                            <option value="زیر دیپلم">زیر دیپلم</option>
                            <option value="کاردانی">کاردانی</option>
                            <option value="کارشناسی">کارشناسی</option>
                            <option value="کارشناسی">کارشناسی ارشد</option>

                        </select>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                شماره شناسنامه
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: 4711046003">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                شماره سریال شناسنامه
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: 4711046003">
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <label class="form-label"> حرف شماره سریال شناسنامه</label>
                        <select name="country" id="select-countries" class="form-control select2 ">
                            >
                            <option value="الف">الف</option>
                            <option value="ب">ب</option>
                            <option value="پ">پ</option>
                            <option value="ت">ت</option>
                            <option value="ث">ث</option>
                            <option value="ج">ج</option>
                            <option value="چ">چ</option>
                            <option value="ح">ح</option>
                            <option value="خ">خ</option>
                            <option value="د">د</option>
                            <option value="ذ">ذ</option>
                            <option value="ر">ر</option>
                            <option value="ز">ز</option>
                            <option value="ژ">ژ</option>
                            <option value="س">س</option>
                            <option value="ش">ش</option>
                            <option value="ص">ص</option>
                            <option value="ض">ض</option>
                            <option value="ط">ط</option>
                            <option value="ظ">ظ</option>
                            <option value="ع">ع</option>
                            <option value="غ">غ</option>
                            <option value="ف">ف</option>
                            <option value="ق">ق</option>
                            <option value="ک">ک</option>
                            <option value="گ">گ</option>
                            <option value="ل">ل</option>
                            <option value="م">م</option>
                            <option value="ن">ن</option>
                            <option value="و">و</option>
                            <option value="ه">ه</option>
                            <option value="ی">ی</option>

                        </select>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="form-label">
                                عدد دو رقمی شماره سریال شناسنامه
                            </label>
                            <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid" placeholder="برای مثال: 22">
                        </div>
                    </div>
                </div>

                <!-- برای حقوقی -->
                <div class="row"></div>

                <!-- برای اتباع -->
                <div class="row"></div>

            </div>
        </form>
    </section>


</div>




@section Scripts {
    <script>

        var s = document.getElementsByName('personType')[0];

        s.addEventListener("change", changeOrg);

        function changeOrg() {
            var value = s.options[s.selectedIndex].value;
            console.log(value);
        }

        //on page load
        changeOrg();
    </script>
    <script src="~/plugins/persian-date/persian.date.js"></script>
    <script src="~/plugins/persian-date/persian.datepicker.js"></script>
    <script>
        $('.initial-value-type-gregorian-example').persianDatepicker({
            initialValueType: 'gregorian'
        });
    </script>

    <!-- BOOTSTRAP-DATERANGEPICKER JS -->
    <script src="~/plugins/bootstrap-daterangepicker/moment.min.js" asp-append-version="true"></script>
    <script src="~/plugins/bootstrap-daterangepicker/daterangepicker.js" asp-append-version="true"></script>

    <!-- TIMEPICKER JS -->
    <script src="~/plugins/time-picker/jquery.timepicker.js" asp-append-version="true"></script>
    <script src="~/plugins/time-picker/toggles.min.js" asp-append-version="true"></script>

    <!-- DATEPICKER JS -->
    <script src="~/plugins/input-mask/jquery.maskedinput.js" asp-append-version="true"></script>


    <!-- FORMELEMENTS JS -->
    <script src="~/js/form-elements.js" asp-append-version="true"></script>

}