@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            bedoon sheba
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            shomare hesab
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            noe tashim
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            hesabe asli
        </div>
    </div>
</div>

<div>
    <div class="">
        <div class="grid-margin">
            <div class="">
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap  align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th>ردیف</th>
                                <th>شماره شبا</th>
                                <th>شماره حساب</th>
                                <th>نوع تسهیم</th>
                                <th>مبلغ تسهیم</th>
                                <th>حداقل مبلغ</th>
                                <th>بیشترین مبلغ</th>
                                <th>حساب اصلی</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2345</td>
                                <td class="text-sm font-weight-600">Megan Peters</td>
                                <td>
                                    <div class="avatar-group">
                                        <a class="avatar avatar-sm" data-toggle="tooltip" href="#" data-original-title="" title=""><img alt="Image placeholder" class="rounded-circle" src="../../assets/images/users/19.jpg"></a>
                                        <a class="avatar avatar-sm" data-toggle="tooltip" href="#" data-original-title="" title=""><img alt="Image placeholder" class="rounded-circle" src="../../assets/images/users/20.jpg"></a>
                                        <a class="avatar avatar-sm" data-toggle="tooltip" href="#" data-original-title="" title=""><img alt="Image placeholder" class="rounded-circle" src="../../assets/images/users/1.jpg"></a>
                                        <a class="avatar avatar-sm" data-toggle="tooltip" href="#" data-original-title="" title=""><img alt="Image placeholder" class="rounded-circle" src="../../assets/images/users/2.jpg"></a>
                                    </div>
                                </td>
                                <td>please check pricing Info </td>
                                <td class="text-nowrap">July 13, 2018</td>
                                <td class="text-nowrap">July 13, 2018</td>
                                <td class="text-nowrap">July 13, 2018</td>
                                <td class="text-nowrap">July 13, 2018</td>
                                <td class="text-nowrap">
                                    @*<partial name="PartialViews/TableButtons" model="2222" />*@
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>