@model long
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-action="Edit" asp-route-id="@Model" type="button" class="btn btn-icon btn-yellow"><i class="fa-solid fa-pen"></i></a>
<a asp-action="Details" asp-route-id="@Model" type="button" class="btn btn-icon  btn-success"><i class="fa-solid fa-eye"></i></a>
<a asp-action="Delete" asp-route-id="@Model" type="button" class="btn btn-icon  btn-danger"><i class="fe fe-trash"></i></a>

