@model MMSApp.Models.Entity.Psp

@{
    ViewData["Title"] = "Create";
}
<h4>ساخت Psp</h4>

<form asp-action="Create">
    <!-- ROW-1 OPEN -->
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">اطلاعات ...</h3>
                </div>
                <div class="card-body">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Alias" class="control-label"></label>
                                    <input asp-for="Alias" class="form-control" />
                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="IIN" class="control-label"></label>
                                    <input asp-for="IIN" class="form-control" />
                                    <span asp-validation-for="IIN" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="TerminalNo" class="control-label"></label>
                                    <input asp-for="TerminalNo" class="form-control" />
                                    <span asp-validation-for="TerminalNo" class="text-danger"></span>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="AcceptorCode" class="control-label"></label>
                                    <input asp-for="AcceptorCode" class="form-control" />
                                    <span asp-validation-for="AcceptorCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="StepsCount" class="control-label"></label>
                                    <input asp-for="StepsCount" class="form-control" />
                                    <span asp-validation-for="StepsCount" class="text-danger"></span>
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Enabled" class="control-label"></label>
                                    <input asp-for="Enabled" class="form-control" />
                                    <span asp-validation-for="Enabled" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="CreatorUserId" class="control-label"></label>
                                    <input asp-for="CreatorUserId" class="form-control" />
                                    <span asp-validation-for="CreatorUserId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="CutOffTime" class="control-label"></label>
                                    <input asp-for="CutOffTime" class="form-control" />
                                    <span asp-validation-for="CutOffTime" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="SettlementIban" class="control-label"></label>
                                    <input asp-for="SettlementIban" class="form-control" />
                                    <span asp-validation-for="SettlementIban" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="WageIban" class="control-label"></label>
                                    <input asp-for="WageIban" class="form-control" />
                                    <span asp-validation-for="WageIban" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="TlsHostCertificateFingerprint" class="control-label"></label>
                                    <input asp-for="TlsHostCertificateFingerprint" class="form-control" />
                                    <span asp-validation-for="TlsHostCertificateFingerprint" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">اطلاعات PSP</h3>
                </div>
                <div class="card-body">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PspMmsUsername" class="control-label"></label>
                                    <input asp-for="PspMmsUsername" class="form-control" />
                                    <span asp-validation-for="PspMmsUsername" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PspMmsPassword" class="control-label"></label>
                                    <input asp-for="PspMmsPassword" class="form-control" />
                                    <span asp-validation-for="PspMmsPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PspMmsPublicKey" class="control-label"></label>
                                    <input asp-for="PspMmsPublicKey" class="form-control" />
                                    <span asp-validation-for="PspMmsPublicKey" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PspMmsPrivateKey" class="control-label"></label>
                                    <input asp-for="PspMmsPrivateKey" class="form-control" />
                                    <span asp-validation-for="PspMmsPrivateKey" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>




            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">اطلاعات شاپرک</h3>
                </div>
                <div class="card-body">
                    <div>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="UserShaparak" class="control-label"></label>
                                    <input asp-for="UserShaparak" class="form-control" />
                                    <span asp-validation-for="UserShaparak" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="PasswordShaparak" class="control-label"></label>
                                    <input asp-for="PasswordShaparak" class="form-control" />
                                    <span asp-validation-for="PasswordShaparak" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="ShaparakFtpPublicKey" class="control-label"></label>
                                    <input asp-for="ShaparakFtpPublicKey" class="form-control" />
                                    <span asp-validation-for="ShaparakFtpPublicKey" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="ShaparakFtpPrivateKey" class="control-label"></label>
                                    <input asp-for="ShaparakFtpPrivateKey" class="form-control" />
                                    <span asp-validation-for="ShaparakFtpPrivateKey" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="ShaparakFtpUsername" class="control-label"></label>
                                    <input asp-for="ShaparakFtpUsername" class="form-control" />
                                    <span asp-validation-for="ShaparakFtpUsername" class="text-danger"></span>
                                </div>


                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label asp-for="ShaparakFtpPassword" class="control-label"></label>
                                    <input asp-for="ShaparakFtpPassword" class="form-control" />
                                    <span asp-validation-for="ShaparakFtpPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>







                    </div>
                </div>
                <!-- TABLE WRAPPER -->
            </div>
            <!-- SECTION WRAPPER -->
        </div>
    </div>
    <!-- ROW-1 CLOSED -->

    <div class="d-flex flex-row-reverse justify-content-between">
        <div class="form-group">
            <input type="submit" value="ایجاد" class="btn btn-success" />
        </div>
        <div>
            <a asp-action="Index" class="btn btn-yellow ">
                بازگشت
            </a>
        </div>
    </div>
</form>



